*{margin: 0; padding: 0;}

body {
	background-color: #ECE9F1;
	font-family: arial, helvetica;
	font-size: 20px;
}
.logo{
	margin-bottom: 30px;
}
.BarraBusca{
	margin-left: auto;
	margin-right: auto;
	background-color:#D9D9D9;
	border:solid 1px;
	border-radius:15px;
	height:32px;
	width:500px;
	margin-bottom: 50px;
}

.TextoBusca{
	float:left;
	background-color:transparent;
	padding-left:5px;
	font-style:italic;
	font-size:18px;
	border:none;
	border-radius:15px;
	height:32px;
	width:495px;
}
.Menu{
	list-style: none;
	border: 1px;
	text-align: center;
	margin:auto;
    width:1100px;
    height:auto;
}
.Menu li{
	float: left;
}
.Menu li a{
	color:#333;
	padding:10px 10px;
	display:block;
	text-decoration: none;
}

.Menu li a:hover{
    background:#333;
    color:#fff;
}
.Menu li ul{
    position:absolute;
    top:25px;
    left:0;
    background-color:#fff;
    display:none;
}
.slide{
    display: block;
    height: 200px;
    width: 900px;
	margin-left: auto;
	margin-right: auto;
}